<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="chat_api_credentials" translate="label" sortOrder="135" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Chat Settings</label>
            <tab>ddg_automation</tab>
            <resource>Dotdigitalgroup_Chat::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Chat Settings</label>
                <comment><![CDATA[Chat is now enabled via Dotdigital using the Dotdigital Tag. Visit Connect > Connect website to enable Chat. <a href="https://support.dotdigital.com/en/articles/9298184-add-the-dotdigital-tag-to-your-website" target="_blank">Learn more</a>.]]></comment>
                <attribute type="expanded">1</attribute>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Chat profile updates</label>
                    <comment><![CDATA[Capture information for active chats and send updates to Dotdigital.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_host" translate="label" type="text" showInDefault="0" showInStore="0" showInWebsite="0">
                    <label>Api Host</label>
                </field>
                <field id="configure_chat_widget" translate="label" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Configure Chat Widget</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <frontend_model>Dotdigitalgroup\Chat\Block\Adminhtml\Config\Settings\ConfigureWidgetButton</frontend_model>
                    <comment><![CDATA[Learn how to set up Chat by reading our <a href="https://support.dotdigital.com/en/articles/8409160-set-up-chat-in-magento-open-source-and-adobe-commerce" target="_blank">Help Centre</a> articles.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
